<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/home}">Ari Hotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-nav"
                    aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="site-nav">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/rooms}">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/occupancy}">Occupancy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
